.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

html, body, #root, #router, .CanvasComponent {
  height: 100%;
  overflow: hidden;
}

.CanvasComponent {
  overflow-y: scroll;
  display: grid;
  grid: column auto / auto auto auto;
}

::-webkit-scrollbar {
  display: none;
}