@media all and (min-width: 280px) {

  button {
  	background:    #ffffff;
  	background-color: transparent;
	border:        2px solid #393f4d;
	border-radius: 8px;
	padding:       8px 20px;
	color:         #393f4d;
	display:       inline-block;
	font:          normal 700 20px/1 "Calibri", sans-serif;
	text-align:    center;
	text-shadow:   0px 0px #000000;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	margin-left: 6px;
  }
  button:hover {
  	background: #393f4d;
  	color: white;
  }

  /*Add button*/
  button.btn.add::before {
	  font-family: fontAwesome;
	  content: "\f067\00a0";
	}
  a {
  	color: inherit;
  }
  a:hover {
  	text-decoration: underline;
  	color: #feda6a;
  }
}
